{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }} </h1>
    <h3>{{ page.subtitle }}</h3>
{% if page.body %}
    {{ page.body|richtext }}
{% endif %}
<hr>
<hr>

{% image page.image max-320x200 as custom_img %}
<img src="{{ custom_img.url }}" alt="{{ custom_img.alt }}">

<h3> Dynamic image serve view</h3>
{% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %}
{{ custom_img2 }}
<img src="{{ custom_img2 }}" alt="Neha's flower">

{% if page.custom_document %}
    {{ page.custom_document.url }}
    <a href="{{ page.custom_document.url }}" download> Download </a>
    {{ page.custom_document.title }}
    {{ page.custom_document.description }}
{% endif %}

{% endblock content %}
